@import '../../../assets/variables';
@import '../../../assets/mixins';

.Button {
  font-size: 14px;
  font-family: $dinmed;
  color: #fff;
  background-color: $blue;
  padding: 12px 30px;
  border-radius: 10px;
  border: unset;
  @include ease;
  outline: none;
  &:hover {
    background-color: $dark;
  }
}