@import '../../assets/variables';
@import '../../assets/mixins';

.Header {
  padding: 0 35px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}