$dinlig: 'DINPro-Light';
$dinreg: 'DINPro';
$dinmed: 'DINPro-Medium';
$dinbold: 'DINPro-Bold';
$dinblack: 'DINPro-Black';

$dark: #41305F;
$blue: #4C49CA;
$shd: 0px 0px 12px rgba(0, 0, 0, 0.12);
//кнопка
//background: radial-gradient(211.17% 965.18% at 38.56% -115.18%, #4C49CA 0%, rgba(108, 92, 206, 0) 100%), #A15ECA;
//border-radius: 8px;